h1, h2, h3{color:brown; font-family: 'Monotype Corsiva';}
ul.box1{ color:rgb(171, 10, 10);font-family:'Times New Roman';}
ul.box2{ color:rgb(162, 164, 37);font-family:'Times New Roman';font-size:20pt;}
ul.box3{ color:rgb(66, 179, 56);font-family:'Times New Roman';font-size:22pt;}
#span{text-decoration: line-through ;}
